{% extends "page.html" %}
{% if announcement_home is string %}
  {% set announcement = announcement_home %}
{% endif %}

{%- block title -%}Home - AUP Learning Cloud{%- endblock title -%}

{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ static_url('home-ui/assets/index.css') }}" />
{% endblock %}

{% block main %}
<div id="home-root"></div>
<script>
  window.jhdata = {
    base_url: '{{ base_url }}',
    xsrf_token: '{{ xsrf_token }}',
    user: '{{ user.name }}'
  };
  window.HOME_DATA = {
    server_active: {{ 'true' if default_server.active else 'false' }},
    server_url: '{{ url }}'
  };
</script>
<script type="module" src="{{ static_url('home-ui/assets/index.js') }}"></script>
{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}
